@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: Nunito;
    font-size: 30;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
nav{
    text-align: right;
    padding: 60px;
    padding-left: -25;
    padding-right: -25;
}


nav ul #button a{
    color: white;
    background-color: #EC4067;
    border-radius: 23px;
    float: right;
    position: relative;
    top: -15px;
    width: 100px;
    text-align: center;
}

nav li{
    display: inline;
    padding: 10;
}
nav li a{
    text-decoration: none;
    padding: 13px;
}
nav ul #moringa a{
    float: left;
    position: relative;
    top: -15px;
    font-style:bold;
    font-weight: 700;
}

nav ul #text a{
    font-size: 20;
    color: black;
}

#box1{
    display: flex;
    position: relative;
    z-index: 1000;
    bottom: -200px;
    height: 200px;
    border: 1px dashed blue;

}

.sec1{
    background-color: aliceblue;
    padding: 128px 100px;
}

.sec1 img{
    height: 500px;
    width: 620;
    padding-right: -800px;
   

}
.moringa{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: -900;

}
.main{
    /* background-color: red; */
    display: flex;

    flex-direction: row-reverse;
    text-align: left 100px;
    height: 700;
}


.sec3{
    background-color: aliceblue;
    padding: 128px 100px;
}
/* -----------------------------section 3 board meeting start------------------------- */
.sec3 img{
    height: 500px;
    width: 620;
    padding-right: 100px;
   

}
.board{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-right: 190;


}
.main3{
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    text-align: left 100px;
    height: 700;
}

/* -----------------------------section 3 board meeting end------------------------- */

/* ------------------------------ stories section start ---------------------------------- */
.sec2 img{
    height: 500;
    width: 620;
    padding-left: 100px;
   

}
.stories{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main2{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}


/* ------------------------------ stories section end ---------------------------------- */
.sec2 img{
    height: 500;
    width: 620;
    padding-left: 100px;
   

}
.stories{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main2{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}
/* ---------------------------------graduation party section start -------------------------- */

.sec4 img{
    height: 500;
    width: 620;
    padding-left: 100px;
   

}
.grad{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main4{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}



/* ---------------------------------graduation party section stop -------------------------- */
