@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: Nunito;
    font-size: 30;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
nav{
    text-align: right;
    padding: 60px;
    padding-left: -25;
    padding-right: -25;
}


nav ul #button a{
    color: white;
    background-color: #EC4067;
    border-radius: 23px;
    float: right;
    position: relative;
    top: -15px;
    width: 100px;
    text-align: center;
}

nav li{
    display: inline;
    padding: 10;
}
nav li a{
    text-decoration: none;
    padding: 13px;
}
nav ul #moringa a{
    float: left;
    position: relative;
    top: -15px;
    font-style:bold;
    font-weight: 700;
}

nav ul #text a{
    font-size: 20;
    color: black;
}

/* #box1{
    display: flex;
    position: relative;
    z-index: 1000;
    bottom: -200px;
    height: 200px;
    border: 1px dashed blue;

} */

.sec1{
    padding: 128px 100px;
    height: 400;
    
}
.Moringa #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}
.Moringa #button{
    color:#EC4067;
    background-color: white;
    padding: 10;
    width: 230;
    text-decoration: none;
    text-align: center;
    /* background-color: #EC4067; */
    border-style: solid;
}

.sec1 img{
    height: 500px;
    width: 620;
    padding-right: 200px;
   

}
.moringa{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-right: 20;

}
.main{
    /* background-color: red; */
    display: flex;

    flex-direction: row-reverse;
    text-align: left 100px;
    height: 700;
}


.sec3{
    padding-bottom: -120;
    padding: 128px 100px;
}
/* -----------------------------section 3 board meeting start------------------------- */
.sec3 img{
    height: 500px;
    width: 620;
    padding-right: 150px;
   

}
.board #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}
.board{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-right: 190;


}
.main3{
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    text-align: left 100px;
    height: 500;
}

/* -----------------------------section 3 board meeting end------------------------- */

/* ------------------------------ stories section start ---------------------------------- */
.sec2 img{
    height: 500;
    width: 620;
    padding-left: 100px;
   
}
.stories #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}
.stories{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main2{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}


/* ------------------------------ stories section end ---------------------------------- */
.sec2 img{
    height: 500;
    width: 620;
    padding-left: 100px;
   

}
.stories{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main2{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}
/* ---------------------------------graduation party section start -------------------------- */

.sec4 img{
    height: 500;
    width: 620;
    padding-left: 300px;
    padding-top: 75;
   

}
.grad #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}
.grad{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-left: 90;
    padding-top: 90;


}
.main4{
    /* background-color: red; */
    display: flex;
    
    text-align: left 100px;
    height: 700;
}

/* ---------------------------------graduation party section stop -------------------------- */

/* -----------------------------------card section start ------------------------------------ */
.carded{
    margin: auto;
    width: auto;
    display: flex;
    position: relative;
    padding-left: 220;
}
.carded #tech p{
    color: #EC4067;
}
.card img{
    height: 250;
    width: 300;
}
.container #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}


.card{
    width: 300px;
    padding-left: -900;
    padding: 20;
    text-align: center;
    font-size: 20;
    float: left 190px;
    margin: 25;

}
.container{
    text-align: left;
}
/* -----------------------------------card section stop ------------------------------------ */

/* ------------------------------------project section start ------------------------------- */

.project img{
    height: 500px;
    width: 820;
    padding-right: 100px;
   

}
.site{
    width: 570px;
    /* background-color: yellow; */
    text-align: left;
    padding-right: 190;


}
.site #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}

.bike{
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    text-align: left 100px;
    padding-top: 120;
    height: 700;
}


/* ------------------------------------project section start ------------------------------- */

.ended{
    padding-bottom: 100;
    display: flex;
    padding-left: 220;

}
.ending{
    width: 570;
    text-align: left;
    padding-right: 190;
    
}
.ending #buttons{
    color: white;
    background-color: #EC4067;
    border-radius: 20px;
    padding: 13px;
    /* float: right; */
    /* position: relative; */
    /* top: -15px; */
    width: 200;
    text-align: center;
    text-decoration: none;
}
/* ------------------------------------ending---------------------------- */

.foot{
    background-color: lightgray;
    padding: 20;
    padding-top: -120;
}
.content{
    text-align: center;
}
